.title {
    -fx-font-size: 18px;
}

.graph-content {
    -fx-padding: 30px;
}

.ch-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}

.graph-legend-item-symbol{
    -fx-background-radius: 0;
}

.graph-legend-item{
    -fx-text-fill: #191970;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: blue; }
.default-color1.chart-series-line { -fx-stroke: green; }